<!DOCTYPE html>
<html>
  <head>
    <title>Gorata.net Flash Archive</title>
    <script src="https://unpkg.com/@ruffle-rs/ruffle"></script>
  </head>
  <body>
    <div id="gorata_flash">
      <object
        width="800"
        height="600"
        data="foret.swf"
        type="application/x-shockwave-flash"
      >
        <param
          name="flashVars"
          value="url=foret.swf&amp;feuilles=800000&amp;objectif=100000000&amp;texte=Мести курсора докато е натиснат <br> за да разглеждаш картата.&amp;zoomM=Размер %2D&amp;zoomP=Размер %2B"
        />
      </object>
    </div>
  </body>
</html>
