<!DOCTYPE html>
<html>
<head>
    <title>Ruffle SWF Test</title>
    <script src="https://unpkg.com/@ruffle-rs/ruffle"></script>
</head>
<body>

    <div id="gorata_flash">
        <object width="800" height="450">
            <param name="movie" value="gorata.swf">
            <param name="flashvars" value="width=800&height=450&forest=10000000000000000000000000000000010200000000001000000000000001000000700000000000000000000000000700010007000000000000000000009300000000000000070000000000900000000000200000000000000000070000000000000000000000000000000000000000000000660006666666066&codes=0d6d8de746490a8e33ed41b5ce767656">
            <embed src="gorata.swf" width="800" height="450" flashvars="width=800&height=450&forest=1111001060606006006601630000000010203116600601000000009016061666666700001090311606166616666660710915517161616666666660000009335511160666116176066600010903111666666266660066000661110676666666600066610066660066666666000000006666666666666666666066&codes=1a519bd088437b0b90333cc5dac27e69">
            </embed>
        </object>
    </div>

</body>
</html>