<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>
  <body>
    <div class="container">
      <%- include('includes/header') %>
      <div class="content-wrapper">
        <div class="left-column">
          <div class="box">
            <div class="box-title">Потребители</div>
            <ul class="user-list">
              <li class="user-item">
                <div class="user-avatar">Аватар</div>
                <div class="user-details">
                  <a href="#"><div class="user-name">потребител1</div></a>
                  <div class="user-info">
                    <span>Пол: Мъж, Възраст: 25</span>
                    <span>От: София</span>
                  </div>
                </div>
              </li>
              <li class="user-item">
                <div class="user-avatar">Аватар</div>
                <div class="user-details">
                  <a href="#"><div class="user-name">потребител2</div></a>
                  <div class="user-info">
                    <span>Пол: Жена, Възраст: 22</span>
                    <span>От: Пловдив</span>
                  </div>
                </div>
              </li>
              <li class="user-item">
                <div class="user-avatar">Аватар</div>
                <div class="user-details">
                  <a href="/user"><div class="user-name">Веско</div></a>
                  <div class="user-info">
                    <span>Пол: Мъж, Възраст: 30</span>
                    <span>От: Варна</span>
                  </div>
                </div>
              </li>
              <li class="user-item">
                <div class="user-avatar">Аватар</div>
                <div class="user-details">
                  <a href="mariuka.html"
                    ><div class="user-name">mariuka</div></a
                  >
                  <div class="user-info">
                    <span>Пол: Жена, Възраст: 28</span>
                    <span>От: Бургас</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="right-column">
          <div class="box">
            <div class="box-title">Най-активни потребители</div>
            <ul class="active-users">
              <li><a href="#">потребител1</a></li>
              <li><a href="#">потребител2</a></li>
              <li><a href="#">потребител3</a></li>
              <li><a href="#">потребител4</a></li>
            </ul>
          </div>
          <div class="box">
            <div class="box-title">Потребители онлайн</div>
            <div class="online-users">
              <div class="user-icon">user1</div>
              <div class="user-icon">user2</div>
              <div class="user-icon">user3</div>
              <div class="user-icon">user4</div>
              <div class="user-icon">user5</div>
              <div class="user-icon">user6</div>
              <div class="user-icon">user7</div>
              <div class="user-icon">user8</div>
              <div class="user-icon">user9</div>
              <div class="user-icon">user10</div>
            </div>
          </div>
        </div>
      </div>

      <%- include('includes/footer') %>
    </div>
  </body>
</html>
