<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>
  <body>
    <div class="container">
      <%- include('includes/header') %>
      <div class="content-wrapper">
        <div class="left-column">
          <div class="box">
            <div class="videos-main-title">Видео</div>

            <div class="video-grid">
              <div class="video-item">
                <a href="#"
                  ><img
                    src="https://placehold.co/200x150/dcdcdc/666666?text=Video+1"
                    alt="Placeholder video"
                /></a>
                <div class="video-item-title">Смешно коте</div>
                <div class="video-item-info">
                  <span>Продължителност: 2:34</span>
                  <span>Преглеждания: 1530</span>
                </div>
              </div>
              <div class="video-item">
                <a href="#"
                  ><img
                    src="https://placehold.co/200x150/dcdcdc/666666?text=Video+2"
                    alt="Placeholder video"
                /></a>
                <div class="video-item-title">Планински преходи</div>
                <div class="video-item-info">
                  <span>Продължителност: 5:12</span>
                  <span>Преглеждания: 2310</span>
                </div>
              </div>
              <div class="video-item">
                <a href="#"
                  ><img
                    src="https://placehold.co/200x150/dcdcdc/666666?text=Video+3"
                    alt="Placeholder video"
                /></a>
                <div class="video-item-title">Нова песен на група Х</div>
                <div class="video-item-info">
                  <span>Продължителност: 3:55</span>
                  <span>Преглеждания: 540</span>
                </div>
              </div>
              <div class="video-item">
                <a href="#"
                  ><img
                    src="https://placehold.co/200x150/dcdcdc/666666?text=Video+4"
                    alt="Placeholder video"
                /></a>
                <div class="video-item-title">Спортен акцент</div>
                <div class="video-item-info">
                  <span>Продължителност: 1:45</span>
                  <span>Преглеждания: 890</span>
                </div>
              </div>
              <div class="video-item">
                <a href="#"
                  ><img
                    src="https://placehold.co/200x150/dcdcdc/666666?text=Video+5"
                    alt="Placeholder video"
                /></a>
                <div class="video-item-title">Как да си направим торта</div>
                <div class="video-item-info">
                  <span>Продължителност: 7:01</span>
                  <span>Преглеждания: 3120</span>
                </div>
              </div>
              <div class="video-item">
                <a href="#"
                  ><img
                    src="https://placehold.co/200x150/dcdcdc/666666?text=Video+6"
                    alt="Placeholder video"
                /></a>
                <div class="video-item-title">Интервю с известен човек</div>
                <div class="video-item-info">
                  <span>Продължителност: 12:30</span>
                  <span>Преглеждания: 450</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="right-column">
          <div class="box">
            <div class="box-title">Най-гледани видео клипове</div>
            <ul class="most-watched">
              <li><a href="#">Видео 1</a></li>
              <li><a href="#">Видео 2</a></li>
              <li><a href="#">Видео 3</a></li>
              <li><a href="#">Видео 4</a></li>
            </ul>
          </div>
          <div class="box">
            <div class="box-title">Най-нови албуми</div>
            <ul class="new-albums">
              <li><a href="#">Моята колекция</a></li>
              <li><a href="#">Празник в града</a></li>
              <li><a href="#">Есенни пейзажи</a></li>
              <li><a href="#">Снимки от пътуване</a></li>
            </ul>
          </div>
        </div>
      </div>

      <%- include('includes/footer') %>
    </div>
  </body>
</html>
